.box_tile__wrapper {
  padding: 1;
  border: 1px solid #DA312E;
  background-color: #1E90FF;
  text-align: center;
  margin: 0px auto;
  height: 150px;
  color: #ffffff; }
  .box_tile__wrapper a {
    text-decoration: none;
    color: #ffffff;
    vertical-align: middle;
    position: absolute; }

/*# sourceMappingURL=common-dashboard.css.map */
