$colorAqua: #0069FF;
$tileColorOrange: #DA312E;
$tileColorLight: #1E90FF;
$tileColorDark: #23141F;
$tileColorDanger: #DA312E;
$defaultPadding: 1;
$defaultTileFontColor: #ffffff;

body {
  
}

.box_tile__wrapper {
  padding: $defaultPadding;
  border: 1px solid $tileColorOrange;
  background-color: $tileColorLight;
  text-align: center;
  margin: 0px auto;
  height: 150px;
  color: $defaultTileFontColor;
  
  a {
    text-decoration: none;
    color: $defaultTileFontColor;
    vertical-align: middle;
    position: absolute;
  }
}