body {
	background-blend-mode: overlay;
    background-color: initial!important;
    background-image: url(https://wittypen.com/wp-content/uploads/2018/01/geometric-bg-overlay-01.jpg),
    					linear-gradient(135deg,#7f44d3 0%,#53a0fd 100%)
    					!important;
}
.navbar {
	font-size: xx-large;
	text-align: center;
}
.navbar-brand {
	color: white !important;
	text-align: center;
	font-size: xx-large !important;
}
#wrapper {
	
}

.display-board-header {
	color: white;
	font-family: sans-serif;
	font-size:42px;
}
.display-board-text	 {
	color: white;
}