<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
<link href="/application/css/hello.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="/application/css/login.css" type="text/css" /> 