<h3>Doctors Info</h3>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Doctor</th>
			<th>Clinic #</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>S.K.Das</td>
			<td>
				<form class="form" action="/dashboard/admin/assign-doctor-clinic" method="POST">
					<input type="text" class="form-control" name="clinicNumber" value="" />
				</form>
			</td>
		</tr>
	</tbody>
</table>