<script src="/application/scripts/admin-dashboard.js"></script>
<script type="text/javascript" src="/application/scripts/common-dashboard.js"></script>
<script type="text/javascript" src="/application/scripts/doctor-dashboard.js"></script>